<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.titan.videoplayer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GHS AV"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Select Language"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/MyActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VideoPlayerActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".BengaliVideo"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".GujarathiVideo"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".HindiVideo"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".KannadaVideo"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".MalayalamVideo"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".MaratiVideo"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".OdiaVideo"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".TamilVideo"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".TeluguVideo"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorLandscape"/>
    </application>

</manifest>